@charset "UTF-8";
/* NOTE: contentbillboard-design-inspiration-txt-dropcap  */
@-webkit-keyframes intro-message {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes intro-message {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-o-keyframes intro-message {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes intro-message {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-webkit-keyframes footer-gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-moz-keyframes footer-gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@-o-keyframes footer-gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes footer-gradient {
    0%{background-position:0% 83%}
    50%{background-position:100% 18%}
    100%{background-position:0% 83%}
}
@keyframes caret {
  50% {
    border-color: transparent;
  }
}
*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.home-style {
  background-color: #655443;
}
#main-nav-wrapper {
  width: 100%;
  height: 15vw;
  margin-top: 1.23vw;
  overflow: hidden;
}
.sticky-main-nav {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    text-decoration: none;
    list-style-type: none;
}
.sticky-main-nav + .content {
    padding-top: 100vw;
}
.content {
    z-index: 1;
}
#main-nav {
  width: 100%;
  height: auto;
  text-align: center;
}
#main-nav ul {
  vertical-align: middle;
}
#main-nav ul li {
  display: inline-block;
  vertical-align: middle;
}
.main-nav-items {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
}
.main-nav-items a {
  color: #f5b338;
  list-style-type: none;
  text-decoration: none;
  transition: 0.23s ease-in-out;
}
.main-nav-items a:hover {
  color: #ffffff;
  transition: 0.23s ease-in-out;
}
.main-nav-items a:active {
  color: #ffffff;
}
.main-nav-style-left {
  margin-left: 15%
}
.logo-top-frame {
  margin-right: 10%;
}
/* NOTE: CSS transition transform referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-top {
  width: 6vw;
  height: auto;
  transition: .69230s ease-in-out;
}
.logo-top a {
  list-style-type: none;
  text-decoration: none;
}
/* NOTE: CSS transform rotate referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-top:hover {
  transform: rotate(360deg);
  filter: brightness(4);
  transition: .69230s ease-in-out;
}
/* NOTE: CSS transition transform referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../img/jhk-logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: .69230s ease-in-out;
}
.logo-bottom-social a {
  list-style-type: none;
  text-decoration: none;
}
/* NOTE: CSS transform rotate referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social:hover {
  background-image: url("../img/jhk-logo-yellow.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
/* NOTE: CSS transition transform referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-1 {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../img/GitHub-Mark-Light-120px-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
.logo-bottom-social-style-1 a {
  list-style-type: none;
  text-decoration: none;
}
/* NOTE: CSS transform rotate referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-1:hover {
  background-image: url("../img/GitHub-Mark-120px-plus.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
/* NOTE: CSS transition transform referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-2 {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../svg/Behance_while_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
.logo-bottom-social-style-2 a {
  list-style-type: none;
  text-decoration: none;
}
/* NOTE: CSS transform rotate referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-2:hover {
  background-image: url("../svg/Behance_while_icon-blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
/* NOTE: CSS transition transform referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-3 {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../svg/dribbble-ball-mark-white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
.logo-bottom-social-style-3 a {
  list-style-type: none;
  text-decoration: none;
}
/* NOTE: CSS transform rotate referenced and modified from "Spin or rotate an image on hover" — https://stackoverflow.com/questions/23695090/spin-or-rotate-an-image-on-hover */
.logo-bottom-social-style-3:hover {
  background-image: url("../svg/dribbble-ball-mark-pink.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2307666667s linear;
}
.intro-message {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 6.5vw;
  text-align: center;
  text-decoration: none;
  margin-top: -0.6089010%;
  background: linear-gradient(245deg, #ffffff, #eef7bc, #ddf47a, #f43bde, #dd3bf4, #833bf4, #403bf4, #0c23c6 ,#0a4cc7, #3be3f4, #3bf455, #baf43b, #f5b338, #f5b338);
  background-size: 400% 400%;
  -webkit-animation: intro-message 58s ease-in-out infinite;
  -moz-animation: intro-message 58s  ease-in-out infinite;
  -o-animation: intro-message 58s  ease-in-out infinite;
  animation: intro-message 58s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f5b338;
}
.footer-style-static {
  width: 100%;
  height: auto;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.footer-style-scroll {
  width: 100%;
  height: auto;
  text-align: center;
}
#footer-nav-social {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 1.23vw;
  padding-bottom: 1.23vw;
}
#footer-nav-social ul {
  vertical-align: middle;
}
#footer-nav-social ul li {
  display: inline-block;
  vertical-align: middle;
}
.footer-nav-social-items {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  color: #ffffff;
}
.footer-nav-social-items a {
  list-style-type: none;
  text-decoration: none;
  transition: 0.23s ease-in-out;
}
.footer-nav-social-style-left {
  margin-left: 8%
}
.footer-nav-social-style-left-style-2 {
  margin-left: 4%
}
#footer-nav-main {
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 1.23vw;
  padding-bottom: 1.23vw;
  color: #655443;
  background: linear-gradient(245deg, #0a4cc7, #6699ff, #f5b338, #f5b338, #ffffff);
  background-size: 400% 400%;
  -webkit-animation: footer-gradient 58s ease-in-out infinite;
  -moz-animation: footer-gradient 58s  ease-in-out infinite;
  -o-animation: footer-gradient 58s  ease-in-out infinite;
  animation: footer-gradient 58s ease-in-out infinite;
}
#footer-nav-main ul li {
  display: inline-block;
}
.footer-nav-main-title {
  font-family: portada,serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.8vw;
}
.footer-nav-main-items {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
}
.footer-nav-main-items a {
  color: #655443;
  list-style-type: none;
  text-decoration: none;
  transition: 0.23s ease-in-out;
}
.footer-nav-main-items a:hover {
  color: #9933ff;
  transition: 0.23s ease-in-out;
}
.footer-nav-main-items a:active {
  color: #9933ff;
}
.footer-nav-main-style-left {
  margin-left: 8%
}
.footer-nav-main-style-left-style-2 {
  margin-left: 4%
}
/* NOTE: CSS Caret Typewriter Effect referenced from — "JS Typewriter" by Simon Shahriveri https://codepen.io/hi-im-si/pen/DHoup */
.caret {
  animation: caret 1s steps(1) infinite;
  border-right: 0.11230em solid #f5b338;
}
.project-style {
  height: 25vw;
  width: 97%;
  display: block;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
}
.project-style img {
  width: 50%;
  float: left;
  margin: 0;
}
.button_projects {
  width: 15vw;
  height: 5vw;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  background-color: #66DFFF;
  float: left;
  display: table;
}
.button_projects p {
vertical-align: middle;
display: table-cell;
}
